__pycache__/
.Python
.DS_Store
*~
*.dat
*.gif
*.png
results
.cache
*.egg-info
checkpoint
*.data*
*.index
*.pyc
*.log
venv
*.aux
*.out
*.auxlock
*.log
*.pdf
*.gz
*.toc
*.dep
*.dpth
*.md5
*.log
*.bbl
*.blg
*.bak
*minted*