__pycache__/
.DS_Store
*~
*.dat
*.gif
*.png
vids
lorenz
results
*.egg-info
checkpoint
*.data*
*.index
venv
sparkle/doc/*.aux
sparkle/doc/*.out
sparkle/doc/*.auxlock
sparkle/doc/*.log
sparkle/doc/*.pdf
sparkle/doc/*.gz
sparkle/doc/*.toc
sparkle/doc/ext/*.dep
sparkle/doc/ext/*.dpth
sparkle/doc/ext/*.md5
sparkle/doc/ext/*.log
sparkle/doc/ext/*.pdf
sparkle/doc/*/*.log
sparkle/doc/layout/frontpage/*.aux
sparkle/doc/layout/frontpage/*.log
sparkle/doc/layout/frontpage/*.pdf
sparkle/doc/layout/frontpage/*.gz
sparkle/doc/*.bbl
sparkle/doc/*.blg
sparkle/doc/dev/_minted-dev_doc
sparkle/doc/_minted-doc